<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--web.xml主要用来配置该web应用使用到的servlet
       1. servlet-name: 给Servlet取名(程序员决定)，该名字唯一
       2. servlet-class: Servlet的类的全路径: Tomcat在反射生成该Servlet需要使用
       3. url-pattern: 该Servlet访问的url的匹配（路径）
       4. 这时我们应该这样访问 servlet http://localhost:8080/servlet/helloServlet
       5. url-pattern 取名是程序员决定的
    -->
    <!--配置HelloServlet-->
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.wztdu.servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/helloServlet</url-pattern>
    </servlet-mapping>

    <!--配置HiServlet -->
    <servlet>
        <servlet-name>HiServlet</servlet-name>
        <servlet-class>com.wztdu.servlet.HiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HiServlet</servlet-name>
        <url-pattern>/hiServlet</url-pattern>
    </servlet-mapping>

    <!--这是idea自动生成的配置-->
    <servlet>
        <servlet-name>OkServlet</servlet-name>
        <servlet-class>com.wztdu.servlet.OkServlet</servlet-class>
    </servlet>
    <!--对OkServlet进行url配置-->
    <servlet-mapping>
        <servlet-name>OkServlet</servlet-name>
        <url-pattern>/okServlet</url-pattern>
    </servlet-mapping>

    <!--配置CatServlet-->
    <servlet>
        <servlet-name>CatServlet</servlet-name>
        <servlet-class>com.wztdu.servlet.homework.CatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatServlet</servlet-name>
        <url-pattern>/cat</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DogServlet</servlet-name>
        <servlet-class>com.wztdu.servlet.homework.DogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DogServlet</servlet-name>
        <url-pattern>/dog</url-pattern>
    </servlet-mapping>

    <!--配置DBServlet-->
    <servlet>
        <servlet-name>DBServlet</servlet-name>
        <servlet-class>com.wztdu.servlet.DBServlet</servlet-class>
        <!--配置信息，而不是硬编码到程序-->
        <init-param>
            <param-name>username</param-name>
            <param-value>xiaotaotao</param-value>
        </init-param>
        <init-param>
            <param-name>pwd</param-name>
            <param-value>123456</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBServlet</servlet-name>
        <url-pattern>/db</url-pattern>
    </servlet-mapping>

    <!--配置了一个ServletContext_-->
    <servlet>
        <servlet-name>ServletContext_</servlet-name>
        <servlet-class>com.wztdu.servlet.servletcontext.ServletContext_</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletContext_</servlet-name>
        <url-pattern>/servletContext_</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.wztdu.servlet.servletcontext.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/orderServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PayServlet</servlet-name>
        <servlet-class>com.wztdu.servlet.servletcontext.PayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PayServlet</servlet-name>
        <url-pattern>/payServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HttpServletRequestMethods</servlet-name>
        <servlet-class>com.wztdu.servlet.request.HttpServletRequestMethods</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpServletRequestMethods</servlet-name>
        <url-pattern>/requestMethods</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CheckServlet</servlet-name>
        <servlet-class>com.wztdu.servlet.request.CheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckServlet</servlet-name>
        <url-pattern>/checkServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ManageServlet</servlet-name>
        <servlet-class>com.wztdu.servlet.request.ManageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageServlet</servlet-name>
        <url-pattern>/manageServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.wztdu.servlet.request.homework.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ComputerServlet</servlet-name>
        <servlet-class>com.wztdu.servlet.request.homework.ComputerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComputerServlet</servlet-name>
        <url-pattern>/computerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownServlet</servlet-name>
        <servlet-class>com.wztdu.servlet.response.DownServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownServlet</servlet-name>
        <url-pattern>/downServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DownServletNew</servlet-name>
        <servlet-class>com.wztdu.servlet.response.DownServletNew</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownServletNew</servlet-name>
        <url-pattern>/downServletNew</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MyPayServlet</servlet-name>
        <servlet-class>com.wztdu.servlet.response.homework.MyPayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyPayServlet</servlet-name>
        <url-pattern>/myPayServlet</url-pattern>
    </servlet-mapping>

    <!--配置整个网站的信息-->
    <context-param>
        <param-name>website</param-name>
        <param-value>http://www.xiaotaotao.net</param-value>
    </context-param>
    <context-param>
        <param-name>company</param-name>
        <param-value>强强科技</param-value>
    </context-param>


</web-app>